<html>
	<head>
		<title>kaykay | Task manager + Timeline</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/projects.css">
		<script src="/js/utils/jquery-latest.min.js"></script>
		<script src="/js/utils/react.min.js"></script>
		<script src="/js/utils/jsx-transformer.min.js"></script>
		<script>
			var user = <%-JSON.stringify(user)%>;
		</script>
	</head>
	<body>
		<% include ./partials/navbar %>
		<div class="container-fluid project-container">

			<h1>Projects</h1>
			<button><img class="add-image" src="/img/add.svg"></img></button>
			<hr>

			<div id="renderer"></div>
		</div>

		<script type="text/jsx">
			var ProjectBox = React.createClass({
				render: function() {
					this.props.data = JSON.parse(this.props.data).data;

					function onClick(id) {
						window.location.href = '/project/' + id;
					}

					var projectNodes = this.props.data.map(function(project) {
						return (
							<div className="project-row" key={project._id} onClick={onClick.bind(this, project._id)}>
								<h1>{project.title}</h1>
								<span className="last-edited">Created on {project.dateDisplay}.</span>
							</div>
						);
					});

					return (
						<div>
							{projectNodes}
						</div>
					);
				}
			});

			var projects = $.ajax({
				type: 'GET',
				url: '/api/user/projects',
				async: false
			}).responseText;

			React.render(
				<ProjectBox data={projects} />,
				$('#renderer').get(0)
			);
		</script>
	</body>
</html>