<!DOCTYPE html>
<html>
	<head>
		<title>kaykay | Task manager + Timeline</title>

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
		<link rel="stylesheet" href="/css/utils/bootstrap.min.css">
		<link rel="stylesheet" href="/css/projects.css">
		<link rel="stylesheet" href="/css/navbar.css">

		<script src="/js/utils/jquery-latest.min.js"></script>
		<script src="/js/utils/react.min.js"></script>
		<script src="/js/utils/jsx-transformer.min.js"></script>
		<script>
			var user = <%- JSON.stringify(user) %>;
		</script>
	</head>
	<body>
		<%- include partials/navbar %>

		<div class="container-fluid project-container"></div>

		<script src="/js/projects.js" type="text/jsx"></script>
	</body>
</html>
